<h2><%= @page_name %></h2>
<%= form_for :page, :url => project_gollum_page_path(:id => @page_name), :html => { :method => "put" } do |f| -%>
  <p>
    <%= label(:gollum_wiki, :markup_language) %>
    <%= select(:page, :format, options_for_select(Gollum::Page::FORMAT_NAMES.keys, @page_format), {:disabled => false}) %></p>
  </p>

<%= f.text_area :raw_data, :class => "wiki-edit", :cols => 100, :row => 25 %>
<p>
  <%= f.submit(l(:button_save)) %>
  <% #preview
    previewUrl = preview_project_gollum_pages_path(:id => @page_name)
    previewScript = "javascript:RedmineGollum.preview('preview', 'page_raw_data', 'page_format', '#{previewUrl}')"
  %>
  <%= link_to(l(:label_preview), previewScript) %>
</p>
<% end %>
<div id="preview"></div>
<%= javascript_include_tag "preview.js", :plugin => 'redmine_gollum' %>
