<%= form_for @gollum_wiki, :url => { :controller => 'gollum_wikis', :action=> 'update', :project_id => @project } do |f| %>

<div class="box tabular">
  <p>
    <%= label(:gollum_wiki, :git_path) %>
    <%= f.text_field :git_path %>
  </p>
  <p>
    <%= label(:gollum_wiki, :markup_language) %>
    <%= select_tag(:markup_language, options_for_select(Gollum::Page::FORMAT_NAMES.keys)) %></p>
  </p>
  <p>
    <%= label(:gollum_wiki, :page_files_directory) %>
    <%= f.text_field :directory %>
  </p>
</div>

  <p><%= f.submit %></p>
<% end %>
